@using Newtonsoft.Json
@using VCharge.Services.Extensions
@model IEnumerable<VCharge.Models.Models.MonthlySummary>
@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="/lib/knockout/dist/knockout.js"></script>
<script type="text/javascript" src="/lib/knockout-mapping/knockout.mapping.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<p>
    <ul>
        @foreach (var summary in Model)
        {
            <li>Month: @summary.DateMonthStart.ToString("MMM yy") Usage: @summary.TotalKwh()</li>
        }
    </ul>
</p>


